
rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /roadmaps/{roadmapId} {
      allow read: if true;
      allow write: if false; // Protect against client-side writes for now
    }
  }
}
